:root {
	--main_theme_color:#f47e35;
}
a {
     color: #000;
     text-decoration: unset;
}
a:hover {
	color: var(--main_theme_color);
}
 ul {
     margin: 0;
}
 body {
     font-family: 'Inter', sans-serif;
     font-size: 18px;
     letter-spacing: 0.3px;
     overflow-x: hidden;
}
 h1,h2,h3,h4,h5,h6 {
     font-family: 'Inter', sans-serif;
}
 .container {
     max-width: 1456px;
}
 .logo_cover {
     text-align: center;
}
.header_cover .header_info_box {
     position: relative;
     padding-left: 45px;
}
 .header_cover .header_info_box .img_box {
     position: absolute;
     top: 0;
     left: 0;
}
 .header_cover .header_info_box h3 {
     font-family: 'Inter', sans-serif;
     font-size: 18px;
     color: var(--main_theme_color);
     text-transform: uppercase;
     font-weight: 600;
     margin-bottom: 0;
     letter-spacing: 0.7px;
}
 .header_cover .header_info_box h4 {
     font-family: 'Inter', sans-serif;
     font-size: 15px;
     color: #333333;
}
 .header_cover .mid_nav_cover .container > .row > div {
     display: flex;
     align-items: center;
     justify-content: center;
}
 .header_cover .mid_nav_cover .container > .row > div.header_info_left {
     justify-content: left;
}
 .header_cover .mid_nav_cover .container > .row > div.header_info_right {
     justify-content: right;
}
 .header_cover nav.navbar {
     padding: 0;
}
.header_cover nav.navbar li a {
     font-size: 17px;
}
.header_cover .navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 15px;
	padding-left: 15px;
	letter-spacing: 0;
	border-bottom: 3px solid transparent;
	font-size: 14px;
	color: #000;
}
 .header_cover .navbar-expand-lg .navbar-nav .nav-link.active {
     color: var(--main_theme_color);
     font-weight: 600;
}
 .header_cover .navbar-expand-lg .navbar-nav .nav-link:hover {
     color: var(--main_theme_color);
}
.footer_cover {
	padding: 30px 0 0;
	background-color: #000;
}
.footer_cover .copyright_box {
	background-color: #02385C;
}
.footer_cover .copyright_box p {
    margin-bottom: 0;
 	font-size: 15px;
 	color: #fff;
}
.footer_cover .copyright_box {
	margin-top: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
}
.footer_box ul {
     padding-left: 0;
}
.footer_box ul li {
	list-style: none;
	margin-bottom: 10px;
}
 .footer_cover .footer_message_box h4 {
     font-size: 45px;
     text-align: center;
     font-weight: 800;
}
 .footer_cover .footer_message_box h4 span {
     display: block;
     font-weight: 400;
     color: var(--main_theme_color);
}
.header_cover .dropdown-toggle {
	padding: 0;
	background-color: transparent;
	border: 0;
	font-size: 20px;
}
.footer_box h3 {
	font-size: 21px;
	font-weight: 600;
	color: #fff;
	margin-bottom: 25px;
}
.footer_box li a,
.footer_box li {  
	color: #fff;
	font-size: 16px;
}
.footer_box ul.footer_icon_box li {
	position: relative;
	padding-left: 35px;
}
.footer_box ul.footer_icon_box li i {
	position: absolute;
	top: 0;
	left: 0;
}
.footer_box ul.footer_icon_box li strong {
	display: block;
}
.footer_cover {
	background-image: url('../images/footer_foot_img.png');
	background-position: 100% 0;
	background-repeat: no-repeat;
	background-color: #034f81;
}
.header_cover .dropdown-menu {
	left: unset !important;
	right: 0;
}
.header_cover .dropdown-toggle:focus {
	border: 0;
	outline: 0;
	box-shadow: unset;
}
.about_text_box .blue_btn:hover {
	background-color: transparent;
	color: #000;
}
.custom_btn.white_btn:hover {
	background-color: #000;
	border-color: #000;
	color: #fff;
}
.footer_box li a:hover {
	color: var(--main_theme_color);
}
.banner_cover .item {
	position: relative;
}
.banner_cover .banner_text_box {
	position: absolute;
	top: 50%;
	left: 0;
}
.banner_cover .banner_text_box {
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 7;
	padding: 15px 30px;
	right: 0;
	margin: auto;
	text-align: center;
}
.banner_cover .banner_text_box h2 {
	color: #fff;
	font-size: 95px;
	font-weight: 800;
	text-transform: uppercase;
	text-shadow: 0 0 20px #000;
}
.banner_cover .banner_text_box h3 {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
}
.banner_cover .banner_text_box .black_btn {
	border-color: #000;
	background-color: #000;
	color: #fff; 
}
.banner_cover .banner_text_box .black_btn:hover {
	border-color: var(--main_theme_color);
	background-color: var(--main_theme_color);
	color: #fff; 
}
.user_nav_box {
	list-style-type: none;
	padding: 0;
}
.user_nav_box > li {
	display: inline-block;
	margin-left: 10px;
	font-size: 15px;
}
.user_nav_box li:last-child {
	padding-right: 0;
	border-right: 0;
}
.user_nav_box li a {
	font-size: 16px;
	position: relative;
	color: #5D616D;
}
.user_nav_box li.icon_box a {
	padding-left: 22px;
}
.user_nav_box li a i {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 18px;
}
.user_nav_box li a i.fa-map-marker {
	left: 5px;
}
.user_nav_cover {
	text-align: right;
}
.upper_cover {
	padding: 8px 0;
}
.header_cover .container {
	max-width: 1490px;
}
.upper_cover .container {
	max-width: 1490px;
}
.search_box {
	position: relative;
}
.search_box .search_field {
	float: left;
	padding: 8px 22px 8px 71px;
	border: 1px solid #A4A7B2;
	border-radius: 8px;
	font-size: 15px;
	width: 100%;
}
.search_box .search_btn {
	float: left;
	border: 0;
	background-color: transparent;
	padding: 0;
	font-size: 17px;
	color: #d8d7d7;
	position: absolute;
	top: 7px;
	left: 36px;
}
.search_box .search_field:focus {
	outline: 0;
	box-shadow: unset;
}
.navbar-light .navbar-brand {
	color: rgba(0,0,0,.9);
	background-color: #fff;
	padding: 2px 12px;
	max-width: 270px;
}
.container-fluid {
	padding: 0 20px;
}
.user_nav_box .custom_btn {
	border-radius: 50px;
	background-color: #034F81;
	color: #fff;
}

.user_nav_box li.cart_box a {
	color: #034F81;
	font-weight: 600;
}
.upper_cover .search_box form:after {
	content: "";
	display: block;
	clear: both;
}
.upper_cover .navbar-brand {
	max-width: 105px;
	display: inline-block;
	margin: 0;
}
.h_bottom_banner {
	margin-top: 10px;
}
.user_nav_box .cart_box .mat_icon {
	position: absolute;
	top: -1px;
	left: 0;
	font-size: 21px;
}
.shop_category_cover {
	padding: 110px 0 80px;
}
.banner_cover {
	background-color: #F3F4F5;
	padding: 24px 0;
	position: relative;
}
.banner_cover .banner_item img {
	border-radius: 12px;
}
.section_head_box h2 {
	font-size: 28px;
	font-weight: 600;
}
.section_head_box {
	margin-bottom: 60px;
}
.shop_category_carousel .shop_cat_box {
	position: relative;
}
.shop_category_carousel .shop_cat_box::after {
	content: "";
	position: absolute;
	width: 155px;
	height: 155px;
	background-color: #EEF8FF;
	border-radius: 100px;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.shop_category_carousel .shop_cat_box img {
	position: relative;
	z-index: 44;
	height: 155px;
	object-fit: scale-down;
	object-position: bottom;
}
.owl-nav button span {
	display: block;
	font-size: 28px;
	padding: 0;
	border: 1px solid #E8E9EC;
	line-height: 16px;
	width: 48px;
	height: 48px;
	text-align: center;
	padding: 12px 4px 4px 4px;
	transition: ease all 0.5s;
	background-color: #fff;
	border-radius: 50px;
	font-weight: 100;
}
.top_car_nav .owl-nav {
	position: absolute;
	bottom: 100%;
	right: 0;
}
.shop_category_cover .top_car_nav .owl-nav {
	bottom: 130%;
}
.trending_products_cover .top_car_nav .owl-nav {
	bottom: 112%;
}
.top_car_nav .owl-nav button {
	margin-right: 15px;
}
.top_car_nav .owl-nav button:last-child {
    margin-right: 0;
}
.trending_products_cover {
	padding: 60px 0;
	background-color: #EFFFF7;
	background-image: url('../images/trending_sec_bg.png');
}
.product_section_cover .product_box .product_component_box .pair_it_btn {
	color: #F57921;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-transform: uppercase;
}
.product_section_cover .product_box .product_component_box h3 {
	overflow: hidden;
	color: #5D616D;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	white-space: nowrap;
}
.product_section_cover .product_box .product_component_box .price_box h4 {
	color: #16171A;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
}
.product_section_cover .product_box .product_component_box .add_cart_btn {
	border-radius: 50px;
	border: 1px solid #034F81;
	background-color: #FFF;
	padding: 10px 15px 6px 15px;
	text-align: center;
	display: flex;
	color: #034F81;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	justify-content: center;
	margin-top: 15px;
}
.product_section_cover .product_box .product_component_box .add_cart_btn .mat_icon {
	margin-right: 5px;
}
.product_section_cover .product_box .product_img_box {
	display: block;
	margin-bottom: 30px;
}
.product_section_cover .product_box .product_img_box {
	display: block;
	margin-bottom: 30px;
	text-align: center;
}
.product_section_cover .product_box .product_img_box img {
	height: 280px;
	object-fit: scale-down;
}
.shop_category_carousel .text_box h3 {
	color: #5D616D;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 27px;
}
.shop_category_carousel .text_box {
	margin-top: 15px;
}
.make_money_inner_cover {
	background-image: url('../images/make_bg.png');
	background-size: 100% 100%;
}
.make_money_cover .text_box h2 {
	color: #FFF;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 48px;
	margin-bottom: 18px;
}
.make_money_cover .text_box P {
	color: #DDF1FE;
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 32px;
}
.make_money_cover .text_box .custom_btn {
	border-radius: 40px;
	border: 1px solid #FFF;
	padding: 8px 20px;
	color: #FFF;
	text-align: center;
	font-size: 15.741px;
	font-weight: 400;
	line-height: 23.611px; /* 150% */
	display: block;
	max-width: 225px;
}
.make_money_inner_cover .text_box {
	max-width: 560px;
}
.make_money_inner_row {
	max-width: 1200px;
	margin: auto;
}
.make_money_inner_cover .make_money_col {
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
}
.make_money_inner_cover .make_money_col .img_box {
	position: absolute;
	bottom: 0;
	right: 0;
}
.make_money_cover {
	padding: 200px 0 100px;
}
.grey_effect_bottom {
	position: relative;
}
.grey_effect_bottom::after {
	content: "";
	display: block;
	width: 100%;
	background-image: url(../images/grey_bottom.svg);
	height: 45px;
	top: 99%;
	left: 0;
	position: absolute;
}
.blue_effect_bottom {
	position: relative;
}
.blue_effect_bottom::before {
	content: "";
	display: block;
	width: 100%;
	background-image: url(../images/blue_bottom_wave.svg);
	height: 45px;
	top: 99%;
	left: 0;
	position: absolute;
}

.blue_effect_top {
	position: relative;
}
.blue_effect_top::after {
	content: "";
	display: block;
	width: 100%;
	background-image: url(../images/blue_top_wave.svg);
	height: 45px;
	bottom: 99%;
	left: 0;
	position: absolute;
}
.shop_brands_cover {
	padding: 100px 0;
}
.shop_brands_detail_box .shop_logo_text h2 {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	margin-bottom: 0;
}
.shop_brands_detail_box .shop_logo_text p {
	color: #CCC;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 0; 
}
.shop_brands_box .shop_logo_box img {
	border-radius: 100px;
	border: 1px solid #666769;
	object-fit: scale-down;
	background-color: #fff;
	padding: 5px;
}
.shop_brands_cover .shop_brands_detail_box:after {
	content: "";
	display: block;
	clear: both;
}
.shop_brands_cover .shop_brands_detail_box .shop_logo_box {
	width: 34%;
	float: left;
}
.shop_brands_cover .shop_brands_detail_box .shop_logo_text {
	width: 66%;
	float: left;
	padding-left: 10px;
	margin-top: 10px;
}
.shop_brands_cover .shop_brands_detail_box {
	padding: 0 12px 15px;
}
.shop_brands_cover .shop_brands_box {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	margin-bottom: 30px;
}
.shop_brands_cover .shop_brands_detail_box {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.shop_brands_cover .shop_brands_box .img_box {
	position: relative;
}
.shop_brands_cover .shop_brands_box .img_box::after {
	content: "";
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url('../images/gradient_bg.png');
	top: 0;
	left: 0;
	background-position: 0;
	background-size: auto 100%;
}
.top_car_nav .owl-nav {
	position: absolute;
	bottom: 112%;
	right: 0;
}

.blog_cover .blog_text_box h3 {
	color: #03446F;
	font-size: 40px;
	font-weight: 700;
	line-height: 60px; /* 150% */
}
.blog_cover .blog_text_box p {
	color: #000;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px; /* 100% */
}
.blog_cover .blog_text_box .custom_btn {
	padding: 8px 20px;
	align-items: center;
	border-radius: 40px;
	border: 1px solid #000;
	color: #000;
	font-size: 15.741px;
	font-weight: 400;
	line-height: 23.611px;
	display: inline-block;
}
.blog_cover .blog_text_box h3.quote_box {
	color: #FFE0ED;
	font-size: 24px;
	font-weight: 600;
	line-height: 35px;
}
.blog_cover .blog_text_box {
	max-width: 360px;
}
.blog_cover .blog_img_box img {
	border-radius: 18px;
}
.blog_cover .blog_text_box .logo_img {
	margin-bottom: 18px;
}
.blog_cover .blog_box {
	position: relative;
}
.blog_cover .blog_box .blog_text_box {
	position: absolute;
	top: 30px;
	left: 40px;
}
.blog_cover {
	padding: 100px 0;
}
.featured_products_cover {
	padding: 100px 0;
	background-image: url('../images/featured_sec_bg.png');
}
.promotions_cover {
	padding: 100px 0 0;
}
.app_banner_cover {
	border-radius: 10px;
	border: 1px solid #E8E9EC;
}
.app_banner_cover .app_banner_inner {
	max-width: 1200px;
	margin: auto;
}
.app_banner_cover .col_left {
	padding-top: 60px;
	padding-bottom: 60px;
}
.app_banner_cover .text_box h2 {
	color: #022D4A;
	font-size: 32px;
	font-weight: 600;
	line-height: 48px; /* 150% */
}
.app_banner_cover .text_box p {
	color: #5D616D;
	font-size: 20px;
	line-height: 36px; /* 180% */
}
.app_banner_inner .download_box {
	margin-top: 40px;
}
.app_banner_cover .app_banner_inner .col_right {
	display: flex;
	align-items: end;
}
.rcm_app_cover {
	padding: 50px 0 150px;
}
.dark_blue_effect_top {
	position: relative;
}
.dark_blue_effect_top::after {
	content: "";
	display: block;
	width: 100%;
	background-image: url(../images/footer_top_wave.svg);
	height: 45px;
	bottom: 98%;
	left: 0;
	position: absolute;
}
.footer_box ul.social_box li {
	display: inline-block;
	margin-right: 10px;
}
.footer_box ul.social_box li:last-child {
	margin-right: 0;
}
.footer_about_box p {
	color: #DDF1FE;
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0.64px;
}
.footer_cover .footer_logo_box {
	margin-bottom: 38px;
}
.footer_about_box p {
	margin-bottom: 30px;
}
.upper_cover .header_left_dropdown_box .left_dropdown_box_nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: end;
}
.upper_cover .header_left_dropdown_box ul:after {
	content: "";
	display: block;
	clear: both;
}
.upper_cover .header_left_dropdown_box ul li .dropdown > .btn {
	color: #5D616D;
	font-size: 14px;
	background-color: transparent;
	padding: 0;
	border: 0;
	padding-left: 24px;
}
.upper_cover .header_left_dropdown_box ul li .dropdown > .btn img.icon_box {
	position: absolute;
	bottom: 2px;
	left: 0;
}
.upper_cover .header_left_dropdown_box ul li > .btn {
	color: #5D616D;
	font-size: 14px;
	background-color: transparent;
	padding: 0;
	border: 0;
	padding-left: 24px;
	position: relative;
}
.upper_cover .header_left_dropdown_box ul li > .btn img.icon_box {
	position: absolute;
	bottom: 2px;
	left: 0;
}


.upper_cover .header_left_dropdown_box ul li .sm_text {
	display: block;
	font-size: 10px;
	color: #727272;
	margin-bottom: -3px;
	text-align: left;
}
.upper_cover .header_left_dropdown_box .left_dropdown_box_nav li {
	margin-right: 25px;
}
.upper_cover .header_left_dropdown_box .left_dropdown_box_nav li:last-child {
	margin-right: 0;
}
.dropdown_box .dropdown .dropdown-header {
	padding: 0;
}
.dropdown_box .dropdown-menu .dropdown-header, .dropdown_box .dropdown-menu .dropdown-item {
	padding: 5px 20px;
}
.dropdown_box .dropdown-menu .dropdown-header {
	color: #292D32;
	font-size: 16px;
}
.dropdown_box .dropdown-menu::after {
	content: "";
	display: block;
	position: absolute;
	top: -8px;
	left: 0;
	right: 0;
	margin: auto;
	width: 15px;
	height: 15px;
	background-color: #fff;
	transform: rotate(45deg);
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
}
.popup_box .modal-body {
	padding: 35px 18px;
}
.popup_box .modal-body .text_box h2 {
	color: #16171A;
	font-size: 20px;
	font-weight: 500;
}
.popup_box .modal-body .text_box p {
	color: #5D616D;
	font-size: 18px;
	font-weight: 400;
}
.popup_box .modal-body .text_box {
	margin-bottom: 28px;
}
.popup_box .modal-body form:after {
	content: "";
	display: block;
	clear: both;
}
.popup_box .modal-body form input {
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 10px;
	border: 1px solid #E8E9EC;
	width: 100%;
	background-color: #fafafafa;
}
.popup_box .modal-body form button {
	border-radius: 45px;
	border: 1px solid #D9D9D9;
	background: #D55E0A;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 11px 30px;
	width: 100%;
}
.app_banner_cover {
	background-image: url('../images/download_bg.jpg');
	background-size: 100% 100%;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box {
	padding: 0;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box li {
	list-style-type: none;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box li a {
	font-size: 16px;
}
/*.mega_menu .mega_drop_down_parent {
	position: relative;	
}*/
.mega_menu .mega_drop_down_parent .mega_drop_down {
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	background-color: #fff;
	overflow: hidden;
}
.header_cover {
	position: relative;
	z-index: 22;
}
.mega_drop_down .no_mar {
	margin: 0;
}
.mega_drop_down .no_padd {
	padding: 0;
}
.mega_menu .mega_drop_down_parent .mega_list_box > li > a {
	display: block;
	padding: 20px 16px;
/*	border-bottom: 1px solid #e7e7e7;*/
	color: #5D616D;
}
.mega_menu .mega_drop_down_parent .mega_list_col {
	border-right: 1px solid #D2D2D2;
	min-height: 80vh;
}
.mega_menu_cate_box {
	columns: 4;
	column-gap: 10px;
	margin-bottom: 140px;
}
.mega_menu_cate_box > ul {
	break-inside: avoid;
}
.mega_drop_down .mega_list_box {
/*	position: relative;*/
}
.mega_drop_down .mega_list_box li .mega_menu_cate_box {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	background-color: #fff;
	width: 74.8%;
	height: 100%;
}
.mega_menu_cate_box ul {
	padding: 0;
}
.mega_list_box .mega_menu_cate_box ul li h3 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
}
.mega_list_box .mega_menu_cate_box ul li a {
	color: #727272;
	font-size: 16px;
}
.mega_list_box .mega_menu_cate_box > ul {
	margin-bottom: 40px;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box > li > a {
	position: relative;
	padding-left: 65px;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box > li > a img {
	position: absolute;
	top: 11px;
	left: 15px;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box > li .mega_menu_cate_box {
	display: none;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box > li:hover .mega_menu_cate_box {
	display: block;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box > li:nth-child(1) .mega_menu_cate_box {
	display: block;
}
.mega_drop_down_parent .mega_drop_down {
	display: none;
}
.mega_drop_down_parent:hover .mega_drop_down {
	display: block;
}
.header_cover .mega_menu .mega_drop_down .mega_list_box .mega_menu_cate_box li a {
	font-size: 14px;
}


/*.header_cover .mega_drop_down_parent:nth-child(1) .mega_drop_down {
	display: block;
}
*/


/*responsive*/

@media screen and (max-width:1366px){
	.user_nav_box li a {
		font-size: 14px;
	}
}